// Primary
$color-primary-400: #f700ff;

// Greys
$color-white: #fff;
$color-black: #000;
$color-grey: #666666;

// Status
$color-error-400: #e12a02;
$color-success-400: #23c552;
$color-warning-400: #ffb800;

// Globals
$color-body: $color-black;

// Loader
$color-loader-background: $color-black;
$color-loader-progress-background: $color-black;
$color-loader-progress: $color-white;
$color-loader-copy: $color-white;

// Dato Preview Notification
$color-preview-background: $color-black;
$color-preview-copy: $color-white;
$color-preview-button-background: $color-white;
$color-preview-button-copy: $color-white;
