@use "/styles/shared/global";

.header {
  // position: fixed;
  // top: 0;
  width: 100%;
  z-index: global.$zIndex-4--nav;
}
.nav {
  padding: global.rem(32) 0;
  display: flex;
  width: 100%;

  &Content {
    display: flex;
    .iconLogo {
      @include global.fontSize(64, 64);
    }
  }
}
