@use "/styles/shared/global";

.container {
  height: auto;
}

.noMargin {
  margin: 0;
}
.textContent {
  position: relative;
  width: 100%;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: global.rem(24);
  }
  p {
    margin: 0;
  }
  .small {
    max-width: global.rem(420);
  }
  .medium {
    max-width: global.rem(592);
  }
}

.title {
  @extend %subheading--large;
  display: block;
  margin-bottom: global.rem(12);
  @include global.mq("phablet") {
    margin-bottom: global.rem(24);
  }
}
.description {
  margin: 0;
  p {
    @extend %body--medium;
    margin: 0;
    padding: 0;
  }
}

.columns {
  width: 100%;
  display: flex;
  gap: global.rem(48);
  div {
    flex: 1;
    p {
      @extend %body--medium;
    }
  }
}

// Buttons content
.buttons {
  margin-top: global.rem(40);
}

.align--right {
  display: flex;
  justify-content: end;
}
.align--center {
  display: flex;
  justify-content: center;
  text-align: center;
}
