@use "/styles/shared/global";

.card {
  overflow: hidden;
  transition: transform 0.3s global.$easing, opacity 0.2s global.$easing;
  padding-top: global.rem(32);
  border-top: 1px solid global.$color-black;

  .content {
    padding: 2rem 0 1rem;
    display: flex;
    .heading {
      flex: 1;
      .subtitle {
        color: global.$color-grey;
        display: block;
        margin-bottom: global.rem(16);
      }
    }
    .description {
      flex: 0.8;
      @extend %body--medium;
    }
  }
  .media {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 2px;
    border-radius: global.rem(24);
    img {
      border-radius: global.rem(24);
      object-fit: cover;
      width: 100%;
      transition: transform 0.3s global.$easing;
      opacity: 0.9;
    }
    div img {
      transition: transform 0.5s ease !important;
    }
    div picture img {
      transition: transform 0.5s global.$easing !important ;
    }
  }

  body:not(.is-touch) & {
    &:hover {
      img {
        opacity: 1;
        transform: scale(1.02);
      }
    }
  }
}
